@import "@/styles/vars";

.input {
   padding: 8px;
   border: 1px solid $primary-color;
   border-radius: 4px;
   font-size: 16px;
   transition: border-color 0.3s ease;

   &:focus {
      border-color: dodgerblue; // Цвет рамки при фокусе
   }

   &::placeholder {
      color: $light-opacity-color;
   }

   &:disabled {
      cursor: not-allowed;
   }
}
