@import "@/styles/vars";

.button {
   border-radius: 4px;
   padding: 8px 16px;
   transition: $transition-delay;
   color: $light-color;
}

.primary {
   background-color: $primary-color;

   &:disabled {
      background-color: rgba(0, 84, 153, 0.447);
      cursor: not-allowed;
   }

   &:hover:not(&:disabled) {
      background-color: $primary-hover-color;
   }
}

.secondary {
   background-color: $dark-color;

   &:hover {
      background-color: $dark-hover-color;
   }
}

.danger {
   background-color: $danger-color;

   &:hover {
      background-color: $danger-hover-color;
   }

   &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
      background-color: $danger-color;
      color: $light-color;
   }
}
