.button {
   color: var(--light-color);
   border-radius: 4px;
   background-color: var(--primary-color);
   padding: 8px 16px;
   transition: var(--transition-delay);

   &:hover {
      background-color: var(--primary-hover-color);
   }
}

.danger {
   background-color: var(--danger-color);

   &:hover {
      background-color: var(--danger-hover-color);
   }

   &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
      background-color: var(--danger-color); /* Цвет фона для неактивной кнопки (можно оставить таким же) */
      color: var(--light-color); /* Цвет текста для неактивной кнопки (можно оставить таким же) */
   }
}
