@import "@/styles/vars";

.button {
   color: $light-color;
   border-radius: 4px;
   background-color: $primary-color;
   padding: 8px 16px;
   transition: $transition-delay;

   &:hover {
      background-color: $primary-hover-color;
   }
}

.danger {
   background-color: $danger-color;

   &:hover {
      background-color: $danger-hover-color;
   }

   &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
      background-color: $danger-color; /* Цвет фона для неактивной кнопки (можно оставить таким же) */
      color: $light-color; /* Цвет текста для неактивной кнопки (можно оставить таким же) */
   }
}
