.page {
   background-color: var(--dark-color);
   color: var(--light-color);
   min-height: 100vh;
}

.intro {
   padding: 100px 0;
   border-bottom: 1px solid var(--light-color);
}

.title,
.subtitle {
   line-height: 1.2;
   text-align: center;
}

.title {
   font-size: 48px;
}

.subtitle {
   font-size: 24px;
}

.text {
   font-size: 18px;
   line-height: 1.4;
   padding: 16px 0;
}
