@import "@/styles/vars";

.header {
   background-color: $dark-color;
   color: $light-color;
   padding: 15px 0;
   text-transform: uppercase;
   font-size: 18px;

   &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
   }
}

.list {
   display: flex;
   align-items: center;
   gap: 16px;
}

.link {
   padding: 15px 0;
}
.active {
   color: $primary-color;
}
