@import "@/styles/vars";

.wrapper {
   overflow-x: auto;
}

.table {
   width: 100%;
   border-collapse: collapse;
}

.th,
.td {
   border: 1px solid #ccc;
   padding: 8px;
}

.th {
   background-color: #f2f2f2;
   font-weight: bold;
   text-align: left;

   &:not([data-sort]) {
      cursor: not-allowed;
   }

   &[data-sort] {
      cursor: pointer;
      position: relative;
      background-image: linear-gradient(90deg, $dark-color 50%, transparent 50%),
         linear-gradient(90deg, $dark-color 50%, transparent 50%), linear-gradient(0, $dark-color 50%, transparent 50%),
         linear-gradient(0, $dark-color 50%, transparent 50%);
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      background-size:
         2px 2px,
         2px 2px,
         2px 2px,
         2px 2px;

      animation: marching-ants 400ms infinite linear;

      &::after {
         content: attr(data-arrow);
         position: absolute;
         left: 100%;
         top: 50%;
         transform: translate(-150%, -50%);
      }
   }

   @keyframes marching-ants {
      0% {
         background-position:
            0 0,
            10px 100%,
            0 10px,
            100% 0;
      }
      100% {
         background-position:
            10px 0,
            0 100%,
            0 0,
            100% 10px;
      }
   }
}

.tbody {
   & .tr {
      position: relative;
      cursor: pointer;

      &:nth-child(even) {
         background-color: #f9f9f9;
      }

      &:hover {
         background-color: #e6f7ff;

         &::after {
            content: attr(data-title);
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translate(-150%, -50%);
            background-color: $dark-color;
            color: $light-color;
            padding: 4px;
            border-radius: 4px;
         }
      }
   }
}

.load-more {
   text-align: center;
   font-weight: bold;
   background-color: #f2f2f2;

   button {
      width: 100%;
      height: 100%;
      border: 1px solid #ccc;
      padding: 8px;

      &:disabled {
         opacity: 0.6;
         cursor: not-allowed;
         background-color: #bfbfbf;
         color: #999;
      }
   }
}
